<div class="page-head">
  <h2>Client Public Profile</h2>
</div>
<div class="cl-mcont">
  <div class="row">
    <div class="col-sm-12">
      <div class="tab-container">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab">User Information</a></li>
          <li><a href="#activity" data-toggle="tab">Activity</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active cont" id="home">
            <%= form_for(@client, :as => @client.class.name.downcase,
              :url => registration_path(@client.class.name.downcase), html: {class: "form-horizontal"}) do |f| %>
              <%= render partial: "clients/user_info", locals: {f: f, is_disabled: true}%>
            <% end %>
          </div>
          <div class="tab-pane" id="activity">
             Development is in progress
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
