<%= form_for (@answer) do |f| %>
  <div class="form-group">
    <label for="nick" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-9">
      <% answers_polls = Hash[@polls.map{|poll| [poll.title, poll.id]}] %>
      <%= f.select :poll_id, options_for_select(answers_polls, params[:id]), {:prompt => "Select poll"},
        {:autofocus => true, disable:true, class: "form-control"} %>
    </div>
  </div>
  <div class="clear"></div>
  <div class="form-group">
    <label for="nick" class="col-sm-2 control-label">Answer</label>
    <div class="col-sm-9">
      <%= f.text_field :answer, class: "form-control"   %>
    </div>
  </div>
  <div class="clear"></div>
  <div class="form-group">
    <label for="nick" class="col-sm-2 control-label"></label>
    <div class="col-sm-9">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
  <div class="clear"></div>
<% end %>
