<h3>Editing poll</h3>
<div class="border"></div>
<%= render 'form' %>
<div class="border"></div>
<div class="row">
  <div class="span2"></div>
  <div class="span8">
    <%= link_to 'Show', @answer, class: "btn btn-primary" %> 
    <%= link_to 'Back', answers_path, class: "btn btn-primary" %>
  </div>
</div>