<div class="page-head">
  <h2>Editing poll answer </h2>
</div>
<div class="cl-mcont">
  <div class="row">
    <div class="col-lg-12 pull-left">
      <div class="block-flat">
        <%= render partial: 'form' %>
      </div>
      <%= link_to 'Show', @answer, class: "btn btn-primary" %>
      <%= link_to 'Back', answers_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
