<div class="timeline-panel">
  <% polls && polls.each do | poll | %>
    <div class="poll_ques_list">
      <div id="poll_<%= poll.id %>" class="poll_txt_div"><%= poll.title %></div>
      <div class="poll_remove_icon" data-poll_id="<%= poll.id %>"></div>
      <!--<div class="icon-remove poll_remove_icon" data-poll_id="<%#= poll.id %>"></div>  -->
      </div>
  <% end %>
</div>
