<div class="content overflow-hidden" style="font-size:14px;">
  <% if polls.present? %>
    <ol>
      <% polls && polls.each do | poll | %>
        <li><%= poll.title %></li>
      <% end %>
    <ol>
  <% else %>
    <ul>
      <li style="list-style-type:none;">There is no question of invitation Polls.</li>
    </ul>
  <% end %>
</div>
