<div class="row">
  <div class="col-sm-8">
    <%= f.hidden_field :id %>
    <%= f.text_field :answer, class: "form-control" %>&nbsp;&nbsp;&nbsp;
  </div>
  <div class="col-sm-4">
    <%= f.link_to_remove "Remove this task"%>
  </div>
</div>
