<div class="page-head">
  <h2>Poll Details</h2>
</div>
<div class="cl-mcont">
  <div class="row">
    <div class="col-lg-12 pull-left">
      <div class="block-flat">
        <div class="header">
          <h3><%= @poll.title.capitalize %></h3>
          (Type - xxxxx choice)
        </div>
        <div class="content">
          <ol>
            <% @poll.answers.sort.each_with_index do |answer, index|%>
              <li><%= answer.answer %></li>
            <% end %>
          </ol>
          <% if current_user.present? %>
            <%= link_to 'Edit', edit_poll_path(@poll), class: "btn btn-primary" %>
            <%= link_to 'Back', polls_path, class: "btn btn-primary"  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
