// Place all the styles related to the Invitations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.poll_select_bx_div{
  //padding-left: 25px;
}
.invited_for_chk_bx{
  margin-top: -1px !important;
}
.invited_for_chk_bx:nth-child(1){
  margin-left: 5px;
}

.invited_for_chk_bx:nth-child(2){
  margin-left: 25px;
}

#polls_list_block{
  border: 1px solid lightgray;
}

.poll_ques_list {
  background-color: #f6f6f6;
  border: 1px solid #d3d3d3;
  height: 32px;
  margin: 5px;
  padding: 5px;
}

.poll_list_rm_icon, .poll_remove_icon{
  color: #409DE9;
  margin-top: 3px;
  float:right;
  cursor: pointer;
}

.poll_txt_div{
  float:left;
}

.poll_list_header{
  background-color: #F6F6F6;
  border: 1px solid #D3D3D3;
  margin: -1px -2px -3px;
  padding: 6px;
}

#polls_list_div{
  margin-top: 8px;
}

.lnk_btn{
  color: #FFFFFF !important;
  height: 35px;
  text-align: center;
  text-decoration: none;
  width: 87px !important;
}

a.lnk_btn:hover {
  text-decoration:none;
}

.invitation_emails_div:first-child{
  margin-top:-8px;
}

.invitation_emails_div:last-child{
  margin-bottom:-9px;
  cursor: pointer;
}
.invitation_emails_div{
  border-bottom: 1px solid lightgray;
  padding:8px 5px;
  width: 100%;
  margin-left:-5px;
}

#invitation_poll_list{
  width:96%;
  border:1px solid lightgray;
  margin-top:-3px;
  margin-left: 15px;
  height: 70px; overflow: auto;
  max-height: 345px;
  min-height: 40px;
  margin-bottom: 5px;
}

#invite_for_more_poll_div{
  border-bottom: 1px solid #D3D3D3;
  height: 29px;
  margin: 0 -2px 8px 16px;
  padding: 0 15px;
}

.selected{
  background-color: #409DE9;
}

.left-arrow-img{
  background: url("/assets/callOut-arrow.png");
}
