<nav class="navbar navbar-inverse" role="navigation" ng-cloak>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand">
        <%= image_tag('survey.png', :size => '125x50', :alt => 'logo')%>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
     	<ul class="nav navbar-nav">
			</ul>
			<ul class="nav navbar-nav pull-right">
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path%></li>
      </ul>
		</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
